@import "tailwindcss";


section {
    width: 100dvw;
}

@theme inline{
    --color-primary-100: #EAE4DC;
    --color-primary-200: #B0AAA0;
    --color-primary-300: #A59079;
    --color-primary-400: #524E48;

    --font-poppins: var(--font-poppins);
    --font-inter: var(--font-inter);
    --font-montserrat: var(--font-montserrat);
}

body{
    overflow-x: hidden;
    font-family: var(--font-inter);
    scroll-behavior: smooth;
}

section {
    width: 100dvw;
}

@utility flex-center{
    @apply flex items-center justify-center;
}

@utility flex-between{
    @apply flex items-center justify-between;
}

@utility col-center{
    @apply flex flex-col items-center justify-center;
}

@layer components {
    header{
        @apply w-screen fixed top-0 left-0 z-50 flex-center bg-primary-100 md:bg-transparent min-h-[7vh];

        nav{
            @apply container mx-auto flex-between px-5 2xl:px-0;

            button{
                    @apply bg-transparent border-none outline-none cursor-pointer;
            }


            ul{
                @apply flex-center gap-8 font-inter;
            }
        }
    }

    .hero-text {
        @apply flex flex-col justify-center md:text-[60px] text-[30px] font-semibold relative z-10 pointer-events-none;
    }

    .product-showcase{
        @apply w-full mt-20 px-5 md:px-20 py-10 md:py-20 flex items-center justify-center;
    }

    .product-showcase .showcase-layout{
        @apply flex xl:flex-row flex-col gap-10 justify-between
    }

    .product-list-wrapper{
        @apply flex md:flex-col xl:flex-col gap-10 xl:w-[40%];
        img{
            @apply w-full h-full object-contain rounded-xl
        }
    }

    .product-list-wrapper .image-wrapper {
        @apply xl:h-[37vh] md:h-52 lg:h-72 h-64 relative rounded-xl xl:px-5 2xl:px-12 py-0;
    }

    .second-product-wrapper{
        @apply h-full flex flex-col justify-between xl:w-[60%]
    }
    .second-product-wrapper .image-wrapper{
        @apply xl:h-[70vh] md:h-[50vh] h-96 relative;

        img {
            @apply w-full h-full object-cover rounded-xl absolute inset-0;
        }

    }
}